.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40; /* Fica acima da Hero e do About, mas abaixo do Header (50) */
  pointer-events: none; /* Permite que cliques passem reto por ele */
}
